/* * {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030518;
  color: white;
  word-break: break-all;
}

li {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 5px;
}

li span {
  margin: 20px;
}

a {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  margin-top: 15px;
}

p {
  color: #9da5d1;
  font-weight: bold;

  margin-top: 5px;
}

h1 {
  margin-bottom: 10px auto;
} */
